{% extends 'principal/base.html' %}

{% block content %}
<h2>Esta es la página de Inicio</h2>
<main>
<div class="form_container">

    <h3>Registro</h3>
    <form method="POST">
        <fieldset>
            <legend>Nuevo curso</legend>
        {% csrf_token %} {{ form.as_p }}  <button type="submit" class="btn_save">Guardar</button>
        </fieldset>
    </form>
</div>


<div class="cursos_content">
    {% for c in cursos %}
    <div>
        <h4>{{ c.nombre }}</h4>
        <a href="{% url 'detalle' c.id %}" class="btn btn-info btn-sm">Ver detalles</a>
    </div>
    {% empty %}
    <p>No hay datos</p>
    {% endfor %}
</div>

<div class="table_cursos">    

    <table>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Profesor
            </th>
            
            <th>
                Cantidad de alumnos
            </th>
            <th>
                Descripción
            </th>
        </tr>
        {% for c in cursos %}
        <tr>
            <td>
                {{ c.nombre}}
            </td>
            <td>
                {{ c.profesor}}
            </td>
            <td>
                {{ c.n_alumnos}}
            </td>
            <td>
                {{ c.descripcion}}
            </td>
        </tr>
    
    {% empty %}
    <p>No hay datos</p>
    {% endfor %}
    </table>
</div> 
</main>
{% endblock %}